body > *{
    margin: 10px;
    border: 1px solid black;
    text-align: center;
    font-size: 2rem;
   
}
main{
   padding: 100px;
   padding-top: 500px;
    height: 50vh;
    
   
    
}
header{
    padding: 30px;
    
}
nav{
    padding: 30px;

}
footer{
    padding: 30px;
    
}
