body > *{
    margin: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 2rem;
   
}
main{
    width: 100%;
    display: inline-block;
    border:none;
    
    

}
header{
    padding: 30px;
    
}
nav{
    padding: 30px;

}
footer{
    
    padding: 30px;
    
    
}
aside{
    margin: 1px;
    margin-left: 4px;
    float: left;
    width: 50%;
    width: 930px;
    height: 49vh;
    border: black 2px solid;
    padding-top: 150px;

 
}
