body > *{
    margin: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 2rem;
   
}
main{
    width: 100%;
    display: inline-block;
    border:none;
    
    

}
header{
    padding: 30px;
    
}
nav{
    padding: 30px;

}
footer{
    
    padding: 30px;
    
    
}
aside{
    margin: 10px;
    float: left;
    width: 50%;
  
    width: 910px;
 
    height: 100vh;
    border: black 2px solid;
    
    padding-top: 500px;

 
}
