body > *{
    margin: none;
    border: 2px solid black;
    text-align: center;
    font-size: 2rem;
   
}
main{
    width: 100%;
    border: 2px solid black;
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    width: 1883px;
    
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;

   
    
    

}
header{
    padding: 30px;
    
    border-bottom-width: 0px;

}
nav, footer{
    padding: 30px;
    
}


.ContentA{

    float: left;
    width: 100%;
    max-width: 1020px;
    
    height: 16vh;
    border: black 2px solid;
   
    padding-top: 500px;
    border-bottom-width: 0px;
    border-top-width: 0px;

 
}
.Picture{
    padding: 50px;
    position:absolute;
    left:  56%;
    top: 23%;
    border: 2px solid black;
    margin : 20px;
    height: 7vh;
    width: 140px;
}
.About{
    padding: 50px;
    position:absolute;
    left:  72%;
    top: 23%;
    border: 2px solid black;
    margin : 20px;
    height: 7vh;
    width: 340px;
}
.RecentT{
    padding: 50px;
    position:absolute;
    left:  56%;
    top: 44%;
    border: 2px solid black;
    margin : 20px;
    height: 32vh;
    width: 645px;
}
